/*
Typography
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*
Declaring root variables 
*/
:root {
    --background-yellow: #fffeed;
    --h1-brown: #733c0b;
    --span-colour: #e03d0b;
}

/*
Assigning a border-box to all page content 
*/
* {
    box-sizing: border-box;
}

/*
Assigning the background colour to a yellowish-white 
*/
body {
    background-color: var(--background-yellow);
}

/*
Font assigned for header
*/
.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
Font and font colour assigned for header h1
*/
.header h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--h1-brown);
}

/*
Changing colour for last name
*/
.last-name {
    color: var(--span-colour);
}
