/*
Typography
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*
Declaring root variables.
*/
:root {
    --background-yellow: #fffeed;
    --dark-brown: #733c0b;
    --span-colour: #e03d0b;
}

/*
Assigning a border-box to all page content. Giving a 0 margin and 0 padding to all elements.
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
Assigning the background colour to a yellowish-white.
Body made to be 100%.
*/
body {
    height: 100%;
    background-color: var(--background-yellow);
}

/*
Font assigned for header.
Height made to fit 100% of the viewport.
*/
.header {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
Font and font colour assigned for header h1.
Text centered.
*/
.header h1 {
    text-align: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 120px;
    color: var(--dark-brown);
    margin-bottom: 60px;
    padding: 15px;
}

/*
Changing colour for last name.
*/
.last-name {
    color: var(--span-colour);
}

/*
Centered image. Made image 250px by 250px.
*/
.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    height: 300px;
    width: 300px;
}

/*
Centered nav and added a background colour.
Made height of nav bar 17% of page.
*/
.nav {
    text-align: center;
    background-color: #ffb9a3;
    height: 17%;
}

/*
Added margins to space out between items as well as top and bottom.
*/
.nav ul li {
    display: inline-block;
    margin: 40px 110px 40px;
    font-size: 34px;
    text-align: center;
}

/*
Removed text decoration from list item links.
Changed text colour.
*/
.nav ul li a {
    text-decoration: none;
    color: var(--dark-brown);
}

/*
Changed background colour of links on hover and rounded borders.
*/
.nav ul li a:hover {
    background-color: #c7996f;
    padding: 5px;
    border-radius: 20px;
}
